/*Items change for desktop view, navigation bar appears and header section section goes on the left*/


@media only screen and (min-width: 1024px) {
  .body {
    font-size: 24px;
  }

  .navBar {
    height: 120px;
    width: 100%;
    top: 0;
    position: fixed;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5em 0em 1.5em; 
    background-color: #4056A1;
  }

  .headText {
    display: none;
  }

  .headTextNav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
  }

  /* this  div contains header and main section to show them side by side*/
  .desktopView {
    display: flex;
    flex-basis: 50%;
  }

  .container {
    margin-top: 153px;
    width: 40%;
  }

  .header {
    margin: 10em 5em 5em 5em;
    width: 40%;
  }
  .composeButton {
    background-color: #4056A1;
  }

  #write {
    margin-top: 0%;
   }
}