/*Everything related to one tweet posted*/

article {
  padding: 2%;
  border: #545149;
  border-style: solid;
  border-width: thick;       
  overflow-wrap: break-word;     
  width: 100%;
}

article:hover{
  font-weight: 1000;
  box-shadow: 10px 10px #8686ad;
}

article header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 125px;
}

article footer {
  display: flex;
  justify-content: space-between;
}

.tweet {
  border-bottom: #545149;
  border-bottom-style: solid;
  border-bottom-width: thick;
}

#userID {
  color: #8686ad;
 opacity: 1;
}

.footer {
  color: #8686ad;
}